NODE_ENV=development
PORT=5000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/emmify

JWT_ACCESS_SECRET=5d2c27d525b7a461db88c32f482aaca7
JWT_REFRESH_SECRET=0da45a1e611b23d80cc08497d3406f13
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

JWT_RESET_SECRET=0b06c99f4e39826c7e64e75ce81d0d6ca4a0b4ca6b742fe8ea591691a181123043317f9ea1adbcce59e90f754a4eab317991d081a548c3efe6b9ed1953d61928


BCRYPT_SALT_ROUNDS=12

CORS_ORIGIN=*
FRONTEND_URL=http://localhost:3000

SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@trip-z.in
SMTP_PASS=Trip-z@123
MAIL_FROM_NAME=Emmify
MAIL_FROM_ADDRESS=info@trip-z.in

OTP_LENGTH=6
OTP_TTL_MINUTES=10
OTP_MAX_ATTEMPTS=5
OTP_RESEND_COOLDOWN_SECONDS=60

GOOGLE_CLIENT_ID=984741326316-49n0t7g091utnafq3bejp6homd2uqm3m.apps.googleusercontent.com
